html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-features {
    height: 30px;
    width: 660px;
    border: solid green 2px;
    display: flex;
    justify-content:space-around;
}

.star-rating{
 font-size:1.2em;
 color:darkgoldenrod;
 border:solid red 2px;
}

.game-features .move-container{
    font-size:20px;
}
.restart-button{
    padding-right:50px;
    cursor:pointer;
}

.deck {
    height: 660px;
    width: 660px;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}

.card{
    height:165px;
    width:165px;
    background-color:lightskyblue;
    border:solid black 1px;
    cursor:pointer;
    /*temporary will think of better way*/
    font-size:1em;
    color:darkslategrey;
    text-align:center;
}

.clicked {
    background-color: #F7ABBD;
    font-size: 3em;
}

.match{
    background-color:peachpuff;
}
